/.classpath
/.project
/bin
/data-complete
/.settings
/junit_test_data.csv
/junit_test_hierarchy_age.csv
/jars
/test.ahs
target
.classpath
.project
build/*
.DS_Store
target/*
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/kotlinc.xml
