/.classpath
/.project
/bin
/data-complete
/.settings
/junit_test_data.csv
/junit_test_hierarchy_age.csv
/jars
/test.ahs
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/build
target
.classpath
.project
/build
.DS_Store