ARX <arx.deidentifier@gmail.com>
Raffael Bild <raffael.bild@tum.de>
Karol Babioch <karol@babioch.de>
Florian Kohlmayer <kohlmayer@gmail.com> <florian.kohlmayer@tum.de>
Fabian Prasser <mail@fabian-prasser.de> <fabian.prasser@gmail.com> <prasser@in.tum.de> <prasser@users.noreply.github.com> <prasser@win143.imse.local>