/atus_hierarchy_Age.csv
/atus_hierarchy_Birthplace.csv
/atus_hierarchy_Citizenship status.csv
/atus_hierarchy_Highest level of school completed.csv
/atus_hierarchy_Labor force status.csv
/atus_hierarchy_Marital status.csv
/atus_hierarchy_Race.csv
/atus_hierarchy_Region.csv
/atus_hierarchy_Sex.csv
/atus.csv
/cup_hierarchy_AGE.csv
/cup_hierarchy_GENDER.csv
/cup_hierarchy_INCOME.csv
/cup_hierarchy_MINRAMNT.csv
/cup_hierarchy_NGIFTALL.csv
/cup_hierarchy_RAMNTALL.csv
/cup_hierarchy_STATE.csv
/cup_hierarchy_ZIP.csv
/cup.csv
/fars_hierarchy_iage.csv
/fars_hierarchy_ideathday.csv
/fars_hierarchy_ideathmon.csv
/fars_hierarchy_ihispanic.csv
/fars_hierarchy_iinjury.csv
/fars_hierarchy_irace.csv
/fars_hierarchy_isex.csv
/fars_hierarchy_istatenum.csv
/fars.csv
/ihis_hierarchy_AGE.csv
/ihis_hierarchy_EDUC.csv
/ihis_hierarchy_MARSTAT.csv
/ihis_hierarchy_PERNUM.csv
/ihis_hierarchy_QUARTER.csv
/ihis_hierarchy_RACEA.csv
/ihis_hierarchy_REGION.csv
/ihis_hierarchy_SEX.csv
/ihis_hierarchy_YEAR.csv
/ihis.csv
/test_anonymized.csv
/cornell_hierarchy_Age.csv
/cornell_hierarchy_Education.csv
/cornell_hierarchy_Gender.csv
/cornell_hierarchy_Race.csv
/cornell_prasser.csv
/cornell.csv
/old_hierarchy_occupation.csv
/old_hierarchy_salary-class.csv
/adult_hierarchy_age.csv
/adult_hierarchy_education.csv
/adult_hierarchy_marital-status.csv
/adult_hierarchy_native-country.csv
/adult_hierarchy_occupation.csv
/adult_hierarchy_race.csv
/adult_hierarchy_salary-class.csv
/adult_hierarchy_sex.csv
/adult_hierarchy_workclass.csv
/adult.csv
/test_hierarchy_age.csv
/test_hierarchy_gender.csv
/test_hierarchy_zipcode.csv
/test.csv
/.gitignore
/adult_subset.csv
/atus_subset.csv
/cup_subset.csv
/fars_subset.csv
/ihis_subset.csv
/adult_age_microaggregated.csv
/dis_hierarchy_age.csv
/dis_hierarchy_gender.csv
/dis_hierarchy_zipcode.csv
/dis.csv
/adult_12000.csv
/adult_12000_subset.csv
/adult_15000.csv
/adult_15000_subset.csv
/adult_18000.csv
/adult_18000_subset.csv
/adult_21000.csv
/adult_21000_subset.csv
/adult_24000.csv
/adult_24000_subset.csv
/adult_27000.csv
/adult_27000_subset.csv
/adult_3000.csv
/adult_3000_subset.csv
/adult_30162.csv
/adult_30162_subset.csv
/adult_6000.csv
/adult_6000_subset.csv
/adult_9000.csv
/adult_9000_subset.csv
/ihis_100000.csv
/ihis_1000000.csv
/ihis_1000000_subset.csv
/ihis_100000_subset.csv
/ihis_1100000.csv
/ihis_1100000_subset.csv
/ihis_1193504.csv
/ihis_1193504_subset.csv
/ihis_200000.csv
/ihis_200000_subset.csv
/ihis_300000.csv
/ihis_300000_subset.csv
/ihis_400000.csv
/ihis_400000_subset.csv
/ihis_500000.csv
/ihis_500000_subset.csv
/ihis_600000.csv
/ihis_600000_subset.csv
/ihis_700000.csv
/ihis_700000_subset.csv
/ihis_800000.csv
/ihis_800000_subset.csv
/ihis_900000.csv
/ihis_900000_subset.csv
/ss13acs.csv
/ss13acs_hierarchy_o_AGEP.csv
/ss13acs_hierarchy_o_CIT.csv
/ss13acs_hierarchy_o_COW.csv
/ss13acs_hierarchy_o_DDRS.csv
/ss13acs_hierarchy_o_DEAR.csv
/ss13acs_hierarchy_o_DEYE.csv
/ss13acs_hierarchy_o_DOUT.csv
/ss13acs_hierarchy_o_DPHY.csv
/ss13acs_hierarchy_o_DREM.csv
/ss13acs_hierarchy_o_FER.csv
/ss13acs_hierarchy_o_GCL.csv
/ss13acs_hierarchy_o_HINS1.csv
/ss13acs_hierarchy_o_HINS2.csv
/ss13acs_hierarchy_o_HINS3.csv
/ss13acs_hierarchy_o_HINS4.csv
/ss13acs_hierarchy_o_HINS5.csv
/ss13acs_hierarchy_o_HINS6.csv
/ss13acs_hierarchy_o_HINS7.csv
/ss13acs_hierarchy_o_INTP.csv
/ss13acs_hierarchy_o_MAR.csv
/ss13acs_hierarchy_o_MARHD.csv
/ss13acs_hierarchy_o_MARHM.csv
/ss13acs_hierarchy_o_MARHW.csv
/ss13acs_hierarchy_o_MIG.csv
/ss13acs_hierarchy_o_MIL.csv
/ss13acs_hierarchy_o_PWGTP.csv
/ss13acs_hierarchy_o_RELP.csv
/ss13acs_hierarchy_o_SCHG.csv
/ss13acs_hierarchy_o_SCHL.csv
/ss13acs_hierarchy_o_SEX.csv
/highdimensional.csv
/highdimensional-small.csv