/atus_hierarchy_Age.csv
/atus_hierarchy_Birthplace.csv
/atus_hierarchy_Citizenship status.csv
/atus_hierarchy_Highest level of school completed.csv
/atus_hierarchy_Labor force status.csv
/atus_hierarchy_Marital status.csv
/atus_hierarchy_Race.csv
/atus_hierarchy_Region.csv
/atus_hierarchy_Sex.csv
/atus.csv
/cup_hierarchy_AGE.csv
/cup_hierarchy_GENDER.csv
/cup_hierarchy_INCOME.csv
/cup_hierarchy_MINRAMNT.csv
/cup_hierarchy_NGIFTALL.csv
/cup_hierarchy_RAMNTALL.csv
/cup_hierarchy_STATE.csv
/cup_hierarchy_ZIP.csv
/cup.csv
/fars_hierarchy_iage.csv
/fars_hierarchy_ideathday.csv
/fars_hierarchy_ideathmon.csv
/fars_hierarchy_ihispanic.csv
/fars_hierarchy_iinjury.csv
/fars_hierarchy_irace.csv
/fars_hierarchy_isex.csv
/fars_hierarchy_istatenum.csv
/fars.csv
/ihis_hierarchy_AGE.csv
/ihis_hierarchy_EDUC.csv
/ihis_hierarchy_MARSTAT.csv
/ihis_hierarchy_PERNUM.csv
/ihis_hierarchy_QUARTER.csv
/ihis_hierarchy_RACEA.csv
/ihis_hierarchy_REGION.csv
/ihis_hierarchy_SEX.csv
/ihis_hierarchy_YEAR.csv
/ihis.csv
/test_anonymized.csv
/cornell_hierarchy_Age.csv
/cornell_hierarchy_Education.csv
/cornell_hierarchy_Gender.csv
/cornell_hierarchy_Race.csv
/cornell_prasser.csv
/cornell.csv
/dis_hierarchy_age.csv
/dis_hierarchy_gender.csv
/dis_hierarchy_zipcode.csv
/dis.csv
/old_hierarchy_occupation.csv
/old_hierarchy_salary-class.csv
/adult_hierarchy_age.csv
/adult_hierarchy_education.csv
/adult_hierarchy_marital-status.csv
/adult_hierarchy_native-country.csv
/adult_hierarchy_occupation.csv
/adult_hierarchy_race.csv
/adult_hierarchy_salary-class.csv
/adult_hierarchy_sex.csv
/adult_hierarchy_workclass.csv
/adult.csv
/test_hierarchy_age.csv
/test_hierarchy_gender.csv
/test_hierarchy_zipcode.csv
/test.csv
